[Install]
WantedBy=graphical-session.target

[Service]
Type=simple
ExecStart=@CARGO_INSTALL_ROOT@/bin/moxidle
Restart=on-failure

[Unit]
Description=moxidle daemon
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
