[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@CARGO_INSTALL_ROOT@/bin/moxidle
Restart=always
RestartSec=10

[Unit]
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
Description=moxidle daemon
PartOf=graphical-session.target
